Grpc:
 HOST: "localhost"
 PORT: "7080"

Database:
 DRIVER: "postgres"
 HOST: "0.0.0.0"
 PORT: "5432"
 USER: ""
 PASS: ""
 NAME: ""
 SSL_MODE: "disable"

Redis:
 HOST: "localhost"
 PORT: "6379"
 NAME: "rediscache"
 USER: ""
 PASS: ""

Jwt:
 SECRET: "somelongrandomstringsomelongrandomstringsomelongrandomstring"